.button{
    width: 200px;
    height: 35px;
    background: #3b5999;
    color : #fff;
    border: none;
    margin-top: 3rem;
    cursor: pointer;
}
.loading{
    background: #ccc;
    cursor: not-allowed;
}

.game-info{
    margin-top: 2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    width: 200px;
}





